.chat {
  background-color: #626b72;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.chat::after {
  content: "";
  clear: both;
  display: table;
}

.username {
  color: #edf2f5;
  float: left;
  font-weight: bold;
  margin: 0 20px 10px 0;
}

.time {
  float: left;
  margin: 0 20px 10px 0;
  color: #aaa;
}

.chat-text {
  color: #edf2f5;
  clear: both;
  margin: 0;
}
